{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <style>
        #stalker-main { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>
    <main id="stalker-main" class="p-4">
        <h1 class="text-2xl font-bold mb-4">Utilisateurs</h1>
        <div>
            {% for user in pagination %}
                <a href="{{ path('user_profile', { profileCode: user.profileCode })
                }}">
                    <div class="bg-white border border-gray-200 rounded-lg shadow-md p-4 flex items-center mb-5">
                        <div class="w-16 h-16 bg-gray-300 rounded-full flex-shrink-0 mr-4">
                            <img src="{{ asset(user.profilePicture ? 'img/profile_picture/' ~ user.profilePicture : "img/default-profile-picture.jpg") }}" alt="{{ user.id }}" class="w-full h-full object-cover rounded-full" height="50px" width="50px">
                        </div>
                        <div class="ml-4">
                            <h2 class="text-xl font-semibold">
                                {{ (user.firstname is defined and user.firstname) and (user.lastname is defined and user.lastname)
                                ? user.firstname ~ ' ' ~ user.lastname
                                : user.login }}
                            </h2>
                            <p class="text-gray-600">Email: {{ user.email }}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <div class="bg-red-100 text-red-600 p-4 rounded-lg">
                    Aucun utilisateur trouvé.
                </div>
            {% endfor %}
        </div>

        <div class="pagination mt-4">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>
{% endblock %}