{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    {% include "user/modals/delete.twig" with {'user': user}%}
    <style>
        #stalker-main {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>
    <div id="stalker-main">


        <div class="relative flex items-center shadow-md rounded-lg p-4 border-2 border-gray-50 mb-6 mt-14">
            <div class="w-16 h-16 bg-gray-300 rounded-full flex-shrink-0 mr-4">
                <img src="{{ asset("img/default-profile-picture.jpg") }}" alt="Profile picture"
                     class="w-full h-full object-cover rounded-full" height="50px" width="50px">
            </div>
            <div class="ml-4 flex flex-col space-y-2">
                <h2 class="text-xl font-semibold">{{ user.prenom|default('Prenom') }} {{ user.nom|default('Nom') }}</h2>
                <p class=""><strong>Email :</strong> {{ user.email }}</p>
                <p class=""><strong>Date d'inscription :</strong> {{ user.dateInscription|default('Date Inconnue') }}
                <p class=""><strong>Genre :</strong> {{ 'Non spécifié' }}</p>
                <img src="https://flagsapi.com/{{ user.countryCode|default('US') }}/shiny/64.png" alt="{{ user.countryCode }}"
                     class="absolute top-4 right-4 w-8 h-8" />
            </div>
        </div>

        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-font-900 dark:text-white">{{ user.firstname }} {{ user.lastname }}'s profile</h3>
                {{ form_start(updateForm, {"attr": {"class": "space-y-6"}}) }}
                <div>
                    {{ form_label(updateForm.email, "Email", {
                        "label_attr": {
                            "class": "block mb-2 text-sm font-medium text-font-900 dark:text-white"
                        }
                    }) }}
                    {{ form_widget(updateForm.email, {
                        "attr": {
                            "class": "bg-gray-50 border border-gray-300 text-font-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white",
                            "placeholder": "johndoe@company.com"
                        }
                    }) }}
                </div>
                <div>
                    {{ form_label(updateForm.pronouns, "Pronouns", {
                        "label_attr": {
                            "class": "block mb-2 text-sm font-medium text-font-900 dark:text-white"
                        }
                    }) }}
                    {{ form_widget(updateForm.pronouns, {
                        "attr": {
                            "class": "bg-gray-50 border border-gray-300 text-font-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        }
                    }) }}
                </div>
                <div>
                    {{ form_label(updateForm.phoneNumber, "Phone number", {
                        "label_attr": {
                            "class": "block mb-2 text-sm font-medium text-font-900 dark:text-white"
                        }
                    }) }}
                    {{ form_widget(updateForm.phoneNumber, {
                        "attr": {
                            "class": "bg-gray-50 border border-gray-300 text-font-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white",
                            "placeholder": "06 12 34 56 78"
                        }
                    }) }}
                </div>
                {{ form_widget(updateForm.submit, {
                    "label": "Save",
                    "attr": {
                        "class": "w-full text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    }
                }) }}
                {{ form_rest(updateForm) }}
                {{ form_end(updateForm) }}
            </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-50 mb-6">
            <h3 class="text-lg font-semibold mb-2">Adresse Principale</h3>
            <div class="flex-col flex space-y-2">
                <p class=""><strong>Rue :</strong> {{ user.adresse.rue |default('Rue') }}</p>
                <p class=""><strong>Ville :</strong> {{ user.adresse.ville|default('Ville') }}</p>
                <p class=""><strong>Code postal :</strong> {{ user.adresse.codePostal|default('Code Postale') }}</p>
            </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-50 mb-6">
            <h3 class="text-lg font-semibold mb-2">Réseaux Sociaux</h3>
            <div class="flex-col flex space-y-2">
                <p class=""><strong>Google :</strong> {{ user.adresse.rue |default('test') }}</p>
                <p class=""><strong>Facebook :</strong> {{ user.adresse.ville|default('test') }}</p>
                <p class=""><strong>Steam :</strong> {{ user.adresse.codePostal|default('test') }}</p>
            </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-4 border-2 border-gray-50 mb-6">
            <h3 class="text-lg font-semibold mb-2">Contact</h3>
            <div class="flex-col flex space-y-2">
                <p class=""><strong>Telephone :</strong> {{ user.phoneNumber |default('Numero tel') }}</p>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') and user.id == app.user.id %}
            <div class="flex space-x-8">
                <button class="bg-primary-700 rounded-xl p-2 text-white transition-all duration-500 hover:bg-primary-800 hover:scale-110"
                        onclick="window.location.href='{{ path('update_user', { profileCode: user.profileCode }) }}'"
                         type="button">
                    Modifier le profil
                </button>
                <button class="bg-gray-300 rounded-xl p-2 text-black transition-all duration-500 hover:bg-gray-400 hover:scale-110"
                        data-modal-target="delete-modal"
                        data-modal-toggle="delete-modal" type="button">
                    Supprimer le compte
                </button>
            </div>
        {% endif %}


    </div>
{% endblock %}